<%- include('includes/head.ejs') %> <!-- import the head html -->
<body>

    <%- include('includes/navigation.ejs') %> <!-- import the navigation bar -->
    <h1>Page Not Found, 404</h1>
</body>
<%- include('includes/end.ejs') %> <!-- import the end html -->