<%- include('../includes/head.ejs') %> <!-- import the head html -->
<body>

<%- include('../includes/navigation.ejs')%> <!-- import the navigation -->
    <h1>CheckOut</h1>

<%- include('../includes/end.ejs') %> <!-- import the end html -->